html,
body {
  width: 100%;
  height: 100%;
  min-height: 667px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 667px;
  /* max-height: 100%; */
  height: auto;
}

@media (min-height: 727px) {
  .wrapper {
    height: 100vh;
  }
}

.form {
  flex: 1;
  position: absolute;
  align-content: center;
  margin: 20px;
  padding: 20px;
  background-color: #f2f2f292;
  border-radius: 30px;
  width: 80vw;

  /* height: fit-content; */
}

@media only screen and (min-width: 750px) {
  .form {
    width: 40vw;
  }
}

.form-group {
  align-items: center;
  margin-bottom: 20px;
  color: white;
}

.label {
  font-size: 14px;
  display: flex;
  width: fit-content;
  font-weight: 700;
  margin-bottom: 8px;
  background: #ff69b4;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
}

input[type="text"],
input[type="date"],
input[type="time"] {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid white;
  outline: none;

  width: 90%;
  margin-bottom: 8px;
}
input:focus {
  outline: none;
  border: 1px solid #ff69b4;
  transition: all 0.3s;
}

.textarea {
  position: relative;
  color: #070707;
  font-weight: 400;
  font-size: 14px;
  border-radius: none;
  line-height: 22px;
  border: 1px solid white;
  transition: all 0.3s;
  margin-bottom: 8px;
  height: 100px;
  outline: white;
  resize: none;
  width: 93%;
}
.textarea:focus {
  outline: none;
  border: 1px solid #ff69b4;
}

.button {
  position: relative;
  margin: auto auto auto auto;
  padding: 10px;
  background-color: #68d388;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}

.button:hover {
  background-color: #ff0028;
}

.message {
  position: absolute;
  top: 7.5em;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  font-size: larger;
  border: 5px solid black;
  background-color: lightgreen;
  padding: 0px;
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
  width: 80vw;
  animation: fadeInOut 2s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 750px) {
  .message {
    width: 40vw;
  }
}

.msg {
  font-size: x-large;
  font-weight: bolder;
  line-height: 170%;
  border-radius: 20px;
  --bg-size: 400%;
  --color-one: #ff69b4;
  --color-two: #23a6d5;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .msg {
    animation: move-bg 2.5s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

.message-button {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: larger;
  background-color: #ff69b4;
  border-radius: 20px;
  border: 5px solid white;
}

.location-suggestions {
  display: auto;
  position: relative;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  color: #ff69b4;
  font-size: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  z-index: 1;
}

.location-suggestions .location-suggestion {
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.location-suggestions .location-suggestion:hover {
  background-color: #68d388a8;
}
